*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacer {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.spacer .button{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spacer button{
  width: 160px;
  margin: 20px;
}


.cont .row{
  margin-top: 25px;
}

.spacer-list {
  padding-left: 40px;
}